@import "../../../../assets/css/variables.scss";

.Success {
  background-color: transparent;
  background-image: url('../../../../assets/images/bg/right-top-gradient.svg'),
                    url('../../../../assets/images/bg/success-bg.svg');
  background-position: center, center;
  background-size: cover;
  background-repeat: no;
  padding: 6rem 0;
  color: #fff;
  text-align: center;

  img {
    max-width: 12rem;
  }

  small {
    font-size: .8rem;
  }

  h2 {
    color: #fff;
    font-size: 1.4rem;
    color: $main-yellow;
    line-height: 1.2;
    margin-top: 2rem;

    span {
      font-size: 1rem;
      color: #fff;
      font-weight: 400;
    }

    &:after {
      display: none;
    }
  }

  @media screen and (min-width: 767px) {
    h2 {
      font-size: 1.7rem;

      span {
        font-size: 1.3rem;
      }
    }
  }
}

.Badges {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}