.Limits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;

  span {
    padding: .5rem 1rem .5rem 0;
    font-size: 1.8rem;
    border-right: 2px solid #fff;
  }

  p {
    padding-left: 1rem;
    font-size: .82rem;
    margin-bottom: 0;
  }
}