@import "../../assets/css/variables.scss";

.Swipe {
  position: absolute;
  padding: .35rem .45rem;
  border-radius: 50%;
  border: 4.5px solid $light-green;
  top: 55px;
  right: 41%;
  background-color: $main-yellow;
  transition: 350ms ease-in-out;
  z-index: 10;
  font-size: .9rem;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  @media screen and (min-width: 1440px) {
    top: 53px;
  }
}

.Selling {
  transform: rotate(90deg);
}

.Buying {
  transform: rotate(-90deg);
}