.Arrows {
  display: flex;
  flex-flow: column;
  position: absolute;
  justify-content: space-between;
  top: 29%;
  left: 8.5rem;
  -webkit-animation: rotate-center 3s linear 3.5s infinite forwards;
          animation: rotate-center 3s linear 3.5s infinite forwards;
          
  @supports (-webkit-touch-callout: none) {
    top: 49%;
  }

  img {
    display: inline-block;
    margin: .3rem 0;
    max-width: 1.8rem !important;
  }

  @media screen and (min-width: 767px) {
    top: 42%;
    left: 11rem;

    img {
      max-width: 2.5rem !important;
    }
  }

  @media screen and (min-width: 1024px) {
    left: 10.8rem;

    
    img {
      max-width: 2.8rem !important;
    }
  }

  @media screen and (min-width: 1240px) {
    left: 13.4rem;
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}