.Wrapper {
  position: relative;
  margin: 3rem 0 2rem;
  text-align: center;
  order: 2;
  z-index: 1;
  width: 100%;

  @media screen and (min-width: 767px) {
    margin-top: 2rem;
  }

  @media screen and (min-width: 1024px) {
    order: 1;
    width: 50%;
  }
}

.Background {
  position: absolute;
  height: 30rem;
  width: 30rem;
  top: -2rem;
  left: -4rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;

  @media screen and (min-width: 767px) {
    left: -3.8rem;
    height: 35rem;
    width: 35rem;
  }

  @media screen and (min-width: 1440px) {
    top: -3rem;
    left: -6rem;
    height: 45rem;
    width: 45rem;
  }
}

.Slider {
  margin-bottom: 1rem;
  z-index: 1;

  img {
    max-width: 35rem;
  }

  @media screen and (min-width: 767px) {
    margin-top: 2rem;

    img {
      max-width: 27rem;
    }
  }

  @media screen and (min-width: 1440px) {
    margin-top: 2rem;

    img {
      max-width: 34rem;
    }
  }
}

.Slide {
  display: flex !important;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 1rem;

  img {
    max-width: 15rem;
    display: inline-block;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 1024px) {
    right: 7rem;
    top: 1rem;

    img {
      max-width: 19rem;
    }
  }

  @media screen and (min-width: 1440px) {
    img {
      max-width: 23rem;
    }
  }
}

.InfoBadge {
  border-radius: 0 !important;
}
