.NavItem {
  margin: 0 .5rem;

  a {
    padding: 1rem;
    color: #fff;
    position: relative;
    text-decoration: none;
    transition: 250ms ease-out;

    &:hover {
      color: #fff;
      opacity: .75 !important;
    }

    @media screen and (max-width: 991px) {
      padding: 1rem .5rem;
    }
  }
}