.Header {
  background: url(../../../assets/images/bg/header-bg.svg) top center/cover no-repeat;
  width: 100%;
  padding: .5rem 0;
}

.Transparent {
  background: transparent;
  position: absolute;
}

.HeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1023px) {
  .MobileOnly {
    display: none;
  }
}

