@import "../../../assets/css/variables.scss";

.Badge {
  padding: .2rem 1rem;
  background-color: $light-green;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 16rem;
  height: 5.2rem;
  margin: .3rem;
  text-align: left;
  border-radius: 15px;

  p {
    color: #fff;
    font-size: 1rem;
    margin-left: .8rem;
    margin-bottom: .2rem;
    
    span {
      font-weight: 700;
      display: inline-block;
      font-size: .82rem;
      line-height: 1.4;
    }
  }

  span.Icon {
    color: $main-yellow;
    font-size: 2rem;
  }
}

.Number {
  font-size: 1.6rem !important;
}

.Transparent {
  background-color: rgba(255, 255, 255, .1);
}