@import "../../../assets/css/variables.scss";

.Group {
  border: 2px solid rgba(43, 52, 49, 0.15);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: $border-radius;

  select {
    appearance: none;
    // Additional resets for further consistency
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
      linear-gradient(to bottom, #ffffff 0%, #fff 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right 0.7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: 0.65em auto, 100%;
  }
}

.Input {
  width: 100%;
  border: none;
  font-size: 0.9rem;
  color: #707070;

  &:focus {
    outline: 0;
  }
}

.Error {
  border-color: red;
}

.ErrorMessage {
  display: block;
  color: red;
  padding: 0.5rem 1rem 1rem 0.5rem;
  margin-top: -0.5rem;
  font-size: 0.8rem;
}

.Label {
  display: block;
  color: $light-green;
  font-size: 0.75rem;
  margin-bottom: 0.3rem;

  &.Error {
    border-color: transparent;
    color: red;
  }
}
