@import "../../../assets/css/variables.scss";

.Swipe {
  position: absolute;
  padding: .35rem;
  border-radius: 50%;
  border: 4.5px solid $light-green;
  top: 22%;
  right: 41%;
  background-color: $main-yellow;
  transition: 350ms ease-in-out;
  z-index: 10;
  font-size: .9rem;
  cursor: pointer;

  @media screen and (min-width: 1140px) {
    top: 20%;
  }
}

.Selling {
  transform: rotate(90deg);
}

.Buying {
  transform: rotate(-90deg);
}