@import "../../../assets/css/variables.scss";

.InfoContact {
  width: 100%;
  text-align: center;

  @media screen and (min-width: 991px) {
    width: 50%;
    text-align: left;
    padding-right: 3rem;
  }
}

.ContentWrapper {
  display: flex;
  align-items: center;
  flex-flow: column;

  &:first-of-type {
    margin-top: 2.5rem;
  }

  @media screen and (min-width: 991px) {
    flex-flow: row;
  }
}

.Information {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 1rem 0;

  p {
    font-size: 0.85rem !important;
    line-height: 1.5;
  }

  span {
    margin: 0;
    font-size: 1.2rem;
  }

  @media screen and (min-width: 991px) {
    flex-flow: row;
    align-items: flex-start;
    margin-bttom: 1rem;
    width: 50%;

    span {
      font-size: 1rem;
    }
  }
}

.Content {
  padding: 0.4rem;

  h4 {
    margin-bottom: 0;
    margin-top: 0.5rem;
    color: $light-green;
  }

  p {
    margin-top: 0.5rem;
  }

  a {
    color: #707070;
    text-decoration: none;
    display: inline-block;
    margin-top: 0.5rem;
  }

  @media screen and (min-width: 991px) {
    padding-right: 1rem;
  }
}

.Horario {
  max-width: 15rem;
}
