.SocialMedia {
  width: 50%;
  padding-left: .5rem;

  span {
    margin: .2rem .5rem;
    color: #fff;
    font-size: 2rem; 

    @media screen and (min-width: 568px) {
      margin-right: 0;
      width: 28%;
    }
  }

  @media screen and (min-width: 568px) {
    width: 15%;
    margin: 0;
  }

  @media screen and (min-width: 1140px) {
    padding: 0;
  }
}