@import "../../../assets/css/variables.scss";

.Card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: rgba($light-green, .2);
  margin: 1rem;
  padding: 1.5rem 1rem;
  border-radius: $border-radius;
  width: 10rem;
  height: 13rem;

  @media screen and (max-width: 768px) {
    width: 14rem;
    height: 15rem;
  }

  img {
    max-width: 8rem;
  }

  .Number {
    display: inline-block;
    margin-top: 1.1rem;
    color: #fff;
    background-color: $light-green;
    border-radius: 50%;
    padding: .4rem .7rem;
    font-size: .8rem;
    border: 5px solid rgb(133, 228, 207)
  }

  p {
    font-weight: 700;
    font-size: .85rem;
    line-height: 1.2;
  }
}